include partials/head.pug
body(style='height: 1050px;')
  .wrapper
    include partials/header--unlogged.pug
    main
      section.modal.modal--flex
        .popup.popup--new-publication.popup--flex
          .new-publication
            form(action=`${action}` method='POST')
              .new-publication__header
                h1 #{type}
                .new-publication__date-form
                  h3 Дата публикации
                  .new-publication__date-form-division
                    .new-publication__date-block
                      label(for='new-publication-date' aria-label='Календарь')
                      input#new-publication-date(type='text' placeholder=`${article.date}` name='date' value=`${article.date}`)
                button.new-publication__button.button.button--colored(type='submit') Опубликовать
              button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
              .new-publication__form.form
                .form__wrapper.form__wrapper--intro
                  .form__field
                    label
                      input(type='text' placeholder='Заголовок' name='title' required value=`${article.title}`)
                  .form__field.form__field--post-image
                    label
                      input#image-name-field(type='text' name='image' placeholder='Фотография' readonly)
                    .form__image-loader.form__image-loader--publication
                      label
                        input.visually-hidden(type='file')
                        | Обзор
                  each categoryItem in category
                    .new-publication__checkbox.new-publication__checkbox--auto
                      - var checked = false;
                      input(type='checkbox' name=`${categoryItem}` id=`checkbox-${categoryItem}` checked = type === `Редактирование публикации` ? '' : null)
                      label(for=`checkbox-${categoryItem}`) #{categoryItem}
                    | !{' '}
                  a.new-publication__form-link.button.button--transparent(href='/categories') Добавить категорию
                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='1' placeholder='Анонс публикации' name='announce')=article.announce
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='1' placeholder='Полный текст публикации' name='fullText')=article.fullText
        .modal__overlay
  script(src='/js/vendor.js')
  script(src='/js/main.js')
