extends layout--logged.pug

block content
      main
        section.post
          h1.visually-hidden Пост
          section.post__content
            h2.visually-hidden Основное содержание
            .post__wrapper
              .post__head
                a.post__backwards.button.button--backwards(href='#') Назад
                time.post__date(datetime=article.createdDate) #{article.createdDate}
                h2.post__title.title.title--main #{article.title}
                ul.post__themes.themes
                  each category in article.categories
                    li.themes__item
                      a.themes__item-link(href=href=`/articles/category/${category.id}`)
                        | #{category.name}
                        sup 88
                      button.themes__remove-btn(type='button') Удалить категорию

              .post__picture
                img(src='/img/sea-fullsize@1x.jpg' alt='пейзаж море, скалы, пляж')
              .post__text
                p.
                  #{article.fullText}
          .post__wrapper.post__wrapper--comments
            section.post__comments.comments
              if article.comments.length
                h2.comments__title.title.title--middle Комментарии
                ul.comments__list
                  each comment in article.comments
                    li.comments__comment
                    .comments__avatar.avatar
                      img(src='/img/avatar-3.png' alt='аватар пользователя')
                    .comments__text
                      .comments__head
                        p #{comment.authors.firstName} #{comment.authors.lastName} •
                        time.comments__date(datetime=comment.createdDate) #{comment.createdDate}
                      p.comments__message #{comment.text}
              .comments__footer.comments__footer--user
                form(action='#' method='POST')
                  .comments__avatar.avatar
                    img(src='/img/avatar-2.png' alt='аватар пользователя')
                  label
                    textarea(rows='1' placeholder='Присоединиться к обсуждению')
                  button.comments__button.button.button--colored(type='submit') Опубликовать
      footer.footer
        a.footer__copyright(href='#' aria-label='HTMLAcademy')
          img(src='/img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTMLAcademy')
        span •
        p Типотека, 2019
      script(src='js/main.js')
