extends layout.pug
include ./mixins/pagination
block content
      main.articles-category
        h1 #{category.name}
        section.articles-category__theme-list
          h2.visually-hidden Список тем
          ul.themes
           each subcategory in otherCategories
            li.themes__item
              a.themes__item-link(class=subcategory.id === category.id ? 'themes__item-link--active': '', href=`/articles/category/${subcategory.id}`)
                | #{subcategory.name}
                sup #{subcategory.count}
        section.articles-category__list.preview
          h2.visually-hidden Список превью статей
          ul.preview__list
           each article in articles
            li.preview__item(class=!article.avatar && '.preview__item--noimage')
              ul.preview__breadcrumbs
               each category in article.categories
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href='#') #{category.name}
              if article.avatar
                .preview__background
                  img.preview__background-image(src='/img/skyscraper@1x.jpg' width='460' height='240' srcset='/img/skyscraper@1x.jpg, /img/skyscraper@2x.jpg 2x' alt='Фотография небоскреба')
              time.preview__time(datetime=article.created_date) #{article.created_date}
              h3.preview__name
                a.preview__name-link(href='#') #{article.title}
              p.preview__text #{article.announce}
              a.preview__comment(href='#')
                | Комментарии
                span.preview__cloud
                |
                b.preview__comment-count #{article.comments.length}
          + pagination(page, totalPages, 2, `?`)
